body, h1{
    margin: 0;
    font-size: 100%; 
    font-weight: normal;
  }

  *{
    box-sizing: border-box;
  }

  body {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

.header {
    background-image: url(images-aboutcinema/afewaboutcinema.jpg);
    height: 35vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 2%;
    box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.4);
}

  .headlink{
    color:white;
    text-decoration: none;
  }

.header-title {
    font-size: 400%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
    margin: auto;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;

}

    .content{
      font-size:0;
      width:100%;
      
    }

    .card-about-cinema{
      margin: 0 auto 0 auto;
      background-color: rgb(255, 255, 255);
      width: 70%;
      height: auto;
      padding: 45px 45px 70px 45px;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
    }

.card-text {
    @media (max-width: 500px) {
        font-size: 10px;
    }

    @media (min-width: 501px) {
        font-size: 16px;
    }

  
}
   
    
    .card-title{
      font-size: 24px;
      font-weight: 500;
      padding-bottom:25px;
      margin-bottom: 10px;
    }
.card-title1 {
    margin-top: 400px;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.card-image {
    width: 20%;
    margin-left: 16.5%;

    @media (max-width: 1100px) {
        
        width:50%;
    }
}
.card-image1 {
    @media (max-width: 1000px) {

        width:100%;
    }
    @media (min-width: 1001px) {

        width:50%;
    }

    margin-left: 16.5%;
    text-align: center;
}
/* менюшка */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.show {
    display: block;
    bottom: 100%;
}

.vid {
    text-align: center;
    justify-content: center;

    @media (max-width: 880px) {
        width: 80%;
    }

    /*@media (min-width: 750px) {
        width:40%;
    }*/

    ;
}
        

      